$home: (
  columns: 6,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home);

.home .content .container {
  @include container;
}


$home-hero: (
  columns: 9,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home-hero);

.home .container {
  @include container;
}


.hero {
  @include container;
}

.cover {
  @include span(4 at 6 of 9);
}

.hype {
  @include span(5);
  @include padding-leader(2);
}

.home .header {
  padding: 0;
  position: relative;
  background: $plum;
  height: 216px;
  .images {
    position: absolute;
    bottom: 0;
    height: 188px;
  }
}

.home h1 {
  color: $orange;
}