$home: (
  columns: 6,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home);

.home .content .container {
  @include container;
}


$home-hero: (
  columns: 9,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

@include layout($home-hero);

.home {
  .container {
    @include container;
  }

  .hero {
    @include container;
  }

  .cover {
    @include span(4 at 6 of 9);
  }

  .hype {
    @include span(5);
    @include padding-leader;
  }

  .header {
    padding: 0;
    position: relative;
    height: 216px;

    .container {
      background: $plum;
    }

    .images {
      position: absolute;
      bottom: 0;
      height: 188px;
    }
  }

  h1 {
    color: $orange;
  }

  .buy {
    text-align: center;
    clear:both;
    @include padding-trailer;

    a {
      display: inline-block;
      background: $orange;
      color: $paper;
      padding: .25em .5em;
      border-radius: 2px;
      font-family: $title-family;
      &:hover {
        background: $plum;
      }
    }
  }

  .testimonials {
    @include padding-leader;
    @include padding-trailer;
    @include trailer;
    background: $salmon;

    h1 {
      color: white;
    }
    .testimonial {
      @include trailer;
    }
  }
}