$M: 47em;

$susy: (
  columns: 12,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.container {
  @include container;
}

.header .container {
  @include padding-leader(4.5);
  @include padding-trailer(1);
}

.callout {
  @include padding-leader(1);
  @include padding-trailer(1);
}

.logoy {
  
}

.fear {
  position: relative;
  top: -.08em;
}

.main {
  @include span(9);
}

.secondary {
  @include span(3 at 10 of 12);
}

.wrap {
  @include leader(2);
  @include padding-trailer(3);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  @include padding-leader;
  @include padding-trailer;
}

// sticky nav
.topnav-content {
  padding: .25em 0;
  li {
    float: left;
    margin-right: 1em;
  }
  .tweet {
    position: relative;
    top: 3px;
  }
}

#top-nav {
  @include breakpoint($M) {
    display: block;
    position: fixed;
    width: 100%;
    top: -3em;
  }
}

#top-nav-sticky-wrapper {
  display: none;
  @include breakpoint($M) {
    height: 0 !important;
    display: block;
  }
  &.is-sticky {
    #top-nav {
      @include breakpoint($M) {
        height: 2.25em !important;
        top: 0;
        display: block;
      }
    }
  }
}

.chapter-nav .sticky-wrapper {
  height: auto !important;
  width: auto !important;

  .wrapper {
    height: auto !important;
    @include leader(1);
    @include breakpoint($M) {
      margin-top: 0;
    }
  }
}

.chapter-nav .sticky-wrapper.is-sticky .wrapper {
  position: static !important;
  top: 0 !important;
  margin-right: 2em;
  
  @include breakpoint($M) {
    position: fixed !important;
    top: 60px !important;
    bottom: 0;
    overflow-y: auto;
  }
}

.listingblock {
  @include trailer;
  .pygments {
    @include padding-leader(.5);
    @include padding-trailer(.5);
  }
}