$susy: (
  columns: 12,
  column-width: 4em,
  gutters: 1/4,
  math: fluid,
  output: static,
  container-position: center
);

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.container {
  @include container;
}

.header .container {
  @include padding-leader(4.5);
  @include padding-trailer(1);
}

.callout {
  @include padding-leader(1);
  @include padding-trailer(1);
}

.logoy {
  
}

.fear {
  position: relative;
  top: -.08em;
}

.main {
  @include span(9);
}

.secondary {
  @include span(3 at 10 of 12);
}

.content {
  @include leader(2);
  @include padding-trailer(3);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  @include padding-leader;
  @include padding-trailer;
}