body {
  background: $lighto;
  color: #46453f;
}

.logoy {
  text-align: left;  
}

.header {
  background: $paper url("/assets/images/layout/bloodthunder.png") no-repeat 95% 100%;
  color: $orange;
  text-align: left;
}


.footer {
  background: #5c4b51;
  background: #8cbeb2;
  color: #5c4b51;
}