body {
  background: $paper;
  color: #46453f;
}

.logoy {
  text-align: left;  
}

.header {
  background: $plum url("/assets/images/layout/bt-mid.png") no-repeat 95% 100%;
  text-align: left;
}


.footer {
  background: #5c4b51;
  background: #8cbeb2;
  color: #5c4b51;
}

img {
  max-width: 100%;
}