@import "compass-setup";
@import "meyer-reset";
@import "susy";
@import "breakpoint";

$purple: #846a70;
$orange: #EA6C4B;
$gold: #c8ca9e;
$salmon: #e28f83;
$lighto: #f9ebe0;


@import "type";
@import "layout";
@import "theme";

@import "home";
