@import "compass-setup";
@import "meyer-reset";
@import "susy";
@import "breakpoint";

$plum:   #4b3d42;
$orange: #EA6C4B;
$gold:   #c8ca9e;
$salmon: #e28f83;
$lighto: #f9ebe0;
$paper:  #f9f8ee;


@import "type";
@import "layout";
@import "theme";

@import "home";
