<!DOCTYPE HTML>
<html lang="en">
  <%= render 'head' %>
  <body>
    <div class="header">
      <div class="logoy">
        <div class="container">
          <div class="title">
            <strong>Clojure</strong> for the <strong>Brave</strong> and <strong>True</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="main">
        <%= yield %>
      </div>
      <div class="secondary">
        secondary
      </div>
    </div>
    <div class="footer">
      <div class="container">
        footer
      </div>
    </div>
  </body>
</html>
